h1{
    color:white;
}

body{
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    background-color: #006a71;
}

.body-content{
    height: 200px;
    width: 1000px;
    margin: 13em auto;
     
}

.content-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.paper-style{
    text-align: center;
    height: 200px;
    width: 290px;
    display:inline-block;
    padding: 10px;
    cursor: pointer;
}

.paper-style:hover{
    transform: scale(1.2); 
}
